init_files/
output/
*~
build/
class
*.prof
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
*.gch
python/dist/
python/classy.egg-info/
